<a href="{{linkUrl}}{{alias}}" style="display:inline-block; border-radius:10px; background:black; height:275px; width:125px; color:white; border:5px solid #5BBAE9; text-align:center; text-decoration:none; margin-left:10px; margin-right:10px; margin-top:10px; overflow:hidden; position:relative;">
  <span style="display:block; margin:10px auto 0 auto; width:60px; height:15px; border:5px solid #5BBAE9; background:white; border-radius:10px;"></span>
  <span style="display:block; font-size:1.5em; color:#ccc; line-height:1em; margin-top:10px; position:relative; z-index: 1;">{{name}}</span>
  <span style="bottom:25px; display:block; width:100%; overflow:hidden; position:absolute;">
    <img hascustomphoto="hasCustomPhoto" showcustomphoto="showCustomPhoto" src="{{imageUrl}}{{alias}}" style="width:100%; -webkit-mask-image:-webkit-linear-gradient(top, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%);  mask-image:linear-gradient(top, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%)" true="true">
  </span>
  <span style="bottom:10px; display:block; font-size:1.2em; color:#999; margin-top:0px; position:absolute; width:100%">{{alias}}@</span>
</a>